@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-800 bg-white font-sans;
  }
  :focus-visible {
    @apply outline-2 outline-offset-2 outline-primary;
  }
}
